html, body {
    width:  100%;
    height: 100%;
    margin: 0;
    padding:0;
    overflow: hidden;
    position:fixed;
  }
  body {
    position: relative
  }
  #play-button {
    display: var(--play-display)
  }
  canvas {
    display: var(--game-display);
  }
  :root {
    --my-variable-name: #999999;
    --game-running: 0;
    --game-display: none;
    --play-display: none;
    --menu-display: none;
  }
  